.BusinessSummery {
    margin: 50px 0px
}

.summery-container {
    /* margin-top: 10px; */
    width: 350px;
    height: 200px;
    background-color: #fefbfd;
    box-shadow: 0px 0px 10px rgb(203, 203, 203);
    border: 2px solid rgba(188, 188, 188, 0.161);

}



.bs-p {
    font-size: 20px;
    padding-top: 7px;
}

.bs-h1 {
    font-size: 40px;
    font-weight: 900;
    color: #0a2cb2 !important
}


@media only screen and (max-width: 600px) {
    .summery-container {
        margin-right: 1px;
        width: 100%;
        height: 150px;
        background-color: #fefbfd;
        box-shadow: 0px 0px 0px rgba(203, 203, 203, 0.748);
        border: 2px solid rgba(188, 188, 188, 0.161);

    }

    .bs-p {
        font-size: 12px;
        padding-top: 7px;
    }

    .bs-h1 {
        font-size: 20px;
        font-weight: 900;
        color: #0a2cb2 !important
    }
}